{% extends 'webSame.html' %}
{% load static %}

{% block title %}About Us - A.Ponnudurai Jewellers{% endblock %}

{% block content %}
<!-- Breadcrumb Section -->
<div class="breadcumb-wrapper" data-bg-src="{% static 'assets/website/bg/breadcumb-bg-2.jpg' %}" data-scroll>
  <img src="{% static 'assets/website/shapes/dot-shape.svg' %}" alt="dot" class="breadcumb-element">
  <div class="container z-index-common">
    <div class="breadcumb-content">
      <h1 class="breadcumb-title">Contact</h1>
      <div class="breadcumb-menu-wrap">
        <ul class="breadcumb-menu">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- About Us Section -->

<!-- Why Choose Us Section -->
<section class="space space-extra-bottom">
    <div class="container">
      <div class="row gx-60 align-items-center">
        <div class="col-lg-5 mb-30">
          <div class="mb-30">
            <span class="sec-subtitle">contact info</span>
            <h2 class="sec-title text-white">get in touch</h2>
            <img src="{% static 'assets/website/shapes/title-shape-1.svg' %}" alt="title shape">
          </div>
          <div class="contact-info mb-20">
            <span>Address:</span> 16/7, ST-3 SIVANKOIL KADAITHERU, Then Thirupporai Eral Junction Point Eral Thoothukudi PIN Code: 628801
          </div>
          <div class="mb-20">
            <span class="address-info">
          <img src="{% static 'assets/website/icons/vs-ct-icon-1-1.svg' %}" alt="vs icon">
          Customer Service :
          <a href="tel:+9-555-888-679">+91 9498742821</a>
        </span>
            <span class="address-info">
          <img src="{% static 'assets/website/icons/vs-ct-icon-1-2.svg' %}" alt="vs icon">
          Careers :
          <a href="mailto:aponnuduraijewellers@gmail.com">aponnuduraijewellers@gmail.com</a>
        </span>
          </div>
          <div class="social-style">
            <h4 class="footer-title mb-0">follow</h4>
            <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
            <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
            <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-7 mb-30">
          <form action="https://html.vecurosoft.com/luxrio/demo/mail.php" method="post" class="form-style2 ajax-contact" action="https://html.vecurosoft.com/luxrio/demo/mail.php" method="POST">
            <div class="row gx-20">
              <div class="col-md-6 form-group">
                <input class="form-control" type="text" name="name" id="fname" placeholder="Your Name *">
              </div>
              <div class="col-md-6 form-group">
                <input class="form-control" type="text" name="name" id="lname" placeholder="Last Name *">
              </div>
              <div class="col-md-6 form-group">
                <input class="form-control" type="email" name="email" id="email" placeholder="Email Address">
              </div>
              <div class="col-md-6 form-group">
                <input class="form-control" type="tel" name="phone" id="phone" placeholder="Phone *">
              </div>
              <div class="col-12 form-group">
                <textarea class="form-control" name="message" id="message" placeholder="Type Your Message"></textarea>
              </div>
              <div class="col-12">
                <button class="vs-btn">submit now</button>
              </div>
            </div>
          </form>
          <p class="form-messages mb-0 mt-3"></p>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Area End -->
  <div class="space-bottom">
    <div class="container">
      <div class="map-style1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125286.59551868685!2d79.12010359726561!3d11.098011099999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baad7002e6a06c1%3A0x7b9ee976ccc3f99b!2sSivan%20kovil%20street!5e0!3m2!1sen!2sin!4v1742381466164!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
{% endblock %}