<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ponnudurai Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="../static/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="../static/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="{% url 'dashboard' %}"> <i class="icon material-icons md-home"></i>
                        <span class="text" style="color: #fff !important;">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'scheme_list' %}"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text" style="color: #fff !important;">Schemes</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="{% url 'show_transation' %}"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text" style="color: #fff !important;">Transactions</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'show_feeds' %}"> <i class="icon material-icons md-add_box"></i>
                        <span class="text" style="color: #fff !important;">Show Feeds</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'show_users' %}"> <i class="icon material-icons md-store"></i>
                        <span class="text" style="color: #fff !important;">Users</span>
                    </a>
                </li>
                
                {% if request.user.is_super_user %}
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'admin_user_management' %}"> <i class="icon material-icons md-people"></i>
                        <span class="text" style="color: #fff !important;">Admin Users</span>
                    </a>
                </li>
                {% endif %}
                <li class="menu-item">
                    <a class="menu-link" href="{% url 'logout' %}"> <i class="icon material-icons md-exit_to_app"></i>
                        <span class="text" style="color: #fff !important;">Logout</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="../static/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Transactions</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <header class="border-bottom mb-4 pb-4">
                                <div class="row">
                                    <div class="col-lg-3 col-6">
                                        <input type="date" id="startDateFilter" class="form-control" placeholder="Start Date">
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <input type="date" id="endDateFilter" class="form-control" placeholder="End Date">
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <select class="form-select" id="paymentMethodFilter">
                                            <option value="">All Payment Methods</option>
                                            <option value="online">Online</option>
                                            <option value="cash">Cash</option>
                                            <option value="poc">POC</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <input type="text" id="schemeCodeFilter" class="form-control" placeholder="Scheme Code">
                                    </div>
                                    <div class="col-lg-3 col-6 mt-3">
                                        <button class="btn btn-primary" id="applyFilter">Apply Filter</button>
                                    </div>
                                </div>
                            </header> <!-- card-header end// -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Scheme Code</th>
                                            <th>Amount Paid</th>
                                            <th>Gold Added (g)</th>
                                            <th>Payment Date</th>
                                            <th class="text-end">Payment Method</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for payment in payments %}
                                        <tr>
                                            <td><b>{{ payment.razorpay_payment_id|default:"N/A" }}</b></td>
                                            <td>{{ payment.schemeCode.schemeCode }}</td>
                                            <td>₹{{ payment.amountPaid }}</td>
                                            <td>{{ payment.goldAdded }} g</td>
                                            <td>{{ payment.paymentDate|date:"d.m.Y" }}</td>
                                            <td class="text-end">{{ payment.get_payment_method_display }}</td>
                                            
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="7" class="text-center">No payments found</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive.// -->
                            
                            <!-- Pagination -->
                            <div class="pagination-area mt-30 mb-50">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                        {% if payments.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ payments.previous_page_number }}"><i class="material-icons md-chevron_left"></i></a>
                                        </li>
                                        {% endif %}
                                        
                                        {% for i in payments.paginator.page_range %}
                                            {% if i == payments.number %}
                                            <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% elif i > payments.number|add:"-3" and i < payments.number|add:"3" %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if payments.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ payments.next_page_number }}"><i class="material-icons md-chevron_right"></i></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div> <!-- col end// -->
                        
                        
                    </div> <!-- row end// -->
                </div> <!-- card-body // -->
            </div> <!-- card end// -->
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Radbo Designs - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="../static/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../static/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/vendors/select2.min.js"></script>
    <script src="../static/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="../static/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../static/assets/js/main.js" type="text/javascript"></script>
    <script>
        document.getElementById('applyFilter').addEventListener('click', () => {
            const startDate = document.getElementById('startDateFilter').value;
            const endDate = document.getElementById('endDateFilter').value;
            const paymentMethod = document.getElementById('paymentMethodFilter').value;
            const schemeCode = document.getElementById('schemeCodeFilter').value;

            let url = `{% url 'show_transation' %}?`;
            if (startDate) url += `start_date=${startDate}&`;
            if (endDate) url += `end_date=${endDate}&`;
            if (paymentMethod) url += `payment_method=${paymentMethod}&`;
            if (schemeCode) url += `scheme_code=${schemeCode}`;

            window.location.href = url;
        });
    </script>
</body>

</html>